/* guide.css */
header {
    margin-top: 3em;
}
section {
    margin-top: 12em;
}
#upgrade li {
    list-style-type: none;
}
#upgrade span {
    font-weight: bolder;
}
#upgrade li {
    position: relative;
    top: -9em;
    margin-top: 1em;
    margin-bottom: 3em;
}
table {
    margin-top: 1em;
    padding: 0 1em 0 1em;
    font-size: 0.95em;
    border-collapse: collapse;
}
th {
    text-align: center;
}
td {
    padding: 1em;
}
p {
    border-top: solid 0.2em #777;
    padding-top: 2em;
    position: relative;
    top: -3em;
}
img {
    position: relative;
    top: -2em;
}